* {
  box-sizing: border-box;
  /* setting up the Variables for the whole document */
  --dark-color: #1b1616;
  --name: sandybrown;
  --header-links: silver;
  --hearo: #1d0302c0;
  --container-border: lawngreen;
    --project-title-color: silver;
  --project-title: aqua;
  --project-title-bg: blue;
  --margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 500;
}

/* setting the header to display flex and alignment to center on both axis */
header {  
  display: flex;
  background-color: var(--dark-color);
  align-items: center;
  justify-content: center;
}

/* setting the class name in the header section for where my name goes and styling the color's, setting the width to fit the content */
.name {
  margin-left: 35%;
  margin-right: 15%;
  background-color: var(--dark-color);
  color: var(--name);
  width: fit-content;
}


/* setting the styles for the list to have no list style and to be horizontal block and centered. */
header ul li {
  display: inline-block;
  align-items: center;
  list-style: none; 
}

/* setting the font colour of the links removing the underlining vertically centering the links within the list area moving them to 
the right of the list area. */
header ul li a {
  color: var(--header-links);
  text-decoration: none;
  align-items: center;
  justify-content: right;
  margin-left: 10px;
  margin-right: var(--margin);
}

/* setting the background color and aligning the content to display right and setting a background color incase the image 
doesn't load and the text to display right. */
.hero-banner {
  background-color: var(--hearo);
  width: 100%;
  text-align: right;
  padding: 25px;
}

/* giving the class a right margin of 5% to keep it slightly off the edge of the scren. */
.portfolio {
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}

/* portfolio image */
.header-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* setting flex column in the main content and a transparent background area, the width and height to 100% and a 10px padding */
.page-wrapper {
  display: flex;
  flex-flow: column;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* setting the  width and height to the titles */
.page-section > h2{
  width: 130px;
  height: 100%;  
}

/* setting the flex-direction to row pushing the content to the right */
#about-me {
  flex-direction: row;
  margin-left: 20%;
}

/* setting the flex-direction and wrap setting the width and moving it right a little */
#work-content {
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

/* setting up the container for the work area to nest in */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 3px double var(--container-border);
}

/* giving the margin-bottom 20px and filling the width and height to 100% of the top project. */
.flex-item1 {
  margin-bottom: var(--margin);
  width: 100%;
  height: 100%;
}

/* sizing the image */
.portfolio-1-clickable-image-link {
  width: 100%;
  height: 150px;
}

/* setting the last 4 projects to a smaller width */
.flex-item2,
.flex-item3,
.flex-item4,
.flex-item5 {
  margin-bottom: var(--margin);
  width: 48%;
  height: 150%;
}

/* styling the project titles. */
.project-title {
  margin-top: -20px;
  align-items: end;
  justify-content: end;
  border: 2px solid var(--project-title);
  width: fit-content;
  padding: 3px;
  font-weight: 600;
  color: var(--project-title-color);
  background-color: var(--project-title-bg);
}
